@import url('https://fonts.googleapis.com/css?family=Montserrat');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}
:root{
    --main-color: #11b28e;
    --black: #2C2C2C;
    --typeHeaderSize: 35px;
    --typeHeaderWeight: 700;
    --typeSubheaderSize: 24px;
    --typeSubheaderWeight: 500;
    --typeBaseSize: 18px;
    --typeBaseWeight: 400;
}
/*HEADER*/
.header{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10%;
    position: fixed;
    width: 100%;
    top: 0;
    border-bottom: 1px solid rgb(174, 173, 173);
}
.header__logo{
    height: 50px;
}
/* FIN HEADER*/

/*BASICS*/
h1{
    font-size: var(--typeHeaderSize);
    font-weight: var(--typeHeaderWeight);
}
h3{
    font-size: var(--typeSubheaderSize);
    font-weight: var(--typeSubheaderWeight);
}
p, label, option, input, select{
    font-size: var(--typeBaseSize);
    font-weight: var(--typeBaseWeight);
}
.p__destacar p{
    font-size: 18px;
    font-weight: 800;
}
.btn{
    background-color: var(--main-color);
    color: hsl(0, 0%, 96%);
    padding: 15px 40px;
    font-weight: 400;
    font-size: 20px;
    border-radius: 5px;
    border-color:var(--main-color);
    text-decoration: none;
}
.btnEliminar{
    height: 23px;
    color: rgb(210, 14, 14);
    background-color: white;
    border-color: white;
    text-decoration: none;
}
.btnEliminar:hover{
    height: 23px;
    color: rgb(177, 9, 9);
    background-color: white;
    border-color: white;
    text-decoration: none;
}
.btnBuscar{
    background-color: var(--main-color);
    color: hsl(0, 0%, 96%);
    padding: 4px 10px;
    font-weight: 200;
    font-size: 14px;
    border-radius: 5px;
    border-color:var(--main-color);
    text-decoration: none;
}
.center{
    text-align: center;
    margin: 0 auto;
}

/*FIN BASICS*/

/*BODY*/
.container{
    margin-top: 150px;
    margin-bottom: 30px;
}
.contenedor__titulos{
    justify-content: center;
    text-align: center;
    padding: 20px 150px;
    background-color: whitesmoke;
}
/*FIN BODY*/

/*CALCULADORA POR CADA PRODUCTO*/
.contenedor__cal{
    margin-top: 40px;
}
.contenedor__calculando___img img{
    height: 230px;
    width: 230px;
}
.contenedor__calculando{
    margin-top: 40px;
}
.contenedor__calculando__form{
    padding: 15px 0px;
}
.contenedor__calculando__form div{
    display: flex;
    
    margin: 15px 0px;
}
.contenedor__calculando__form div > input, select{
    width: 100%;
}
.contenedor__calculando__form div > span{
    width: 60px;
    text-align: right;
}
.contenedor__calculando__form div > label{
    padding-right: 20px;
}
.contenedor__calculando__form__inline{
    display: inline;
    width: 100%;
}
/*FIN CALCULADORA POR CADA PRODUCTO*/

/*TABLA COMPRAS*/
.compras__tabla{
    width: 100%;
    border: 1px solid rgb(174, 173, 173);
    border-collapse: collapse;
}
.compras__tabla__lista{
    padding: 10px;
    vertical-align: center;
}
.compras__tabla__lista li{
    list-style: none;
    padding: 10px;
}
.btnTrash {
    border: none;
    background: none;
}
/*FIN TABLA COMPRAS*/

/*DISPLAY*/
.hide{
    display: none;
}