@import url('https://fonts.googleapis.com/css?family=Montserrat');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}
:root{
    --main-color: #11b28e;
    --black: #2C2C2C;
    --typeHeaderSize: 35px;
    --typeHeaderWeight: 700;
    --typeSubheaderSize: 24px;
    --typeSubheaderWeight: 500;
    --typeBaseSize: 18px;
    --typeBaseWeight: 400;
}
/*HEADER*/
.header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    position: fixed;
    width: 100%;
    top: 0;
    border-bottom: 1px solid rgb(174, 173, 173);
}
.header__logo{
    height: 50px;
}
.header__nav{
    display: flex;
    list-style: none;
}
.header__nav__element{
    list-style: none;
    padding: 10px 20px;
}
.header__nav__element a{
    text-decoration: none;
    color: var(--black);
    font-weight: 800;
}
.header__iconos a{
    padding: 10px;
    color: var(--black);
    font-size: 24px;
}
.breadcrumb{
    text-decoration: none;
    margin-bottom: 30px;
}
.breadcrumb i{
    color: var(--black);
}
.breadcrumb__element{
    display: inline;
    padding: 0px 20px 0px 0px;
}
.breadcrumb__element a{
    color: var(--black);
    text-decoration: none;
}
.breadcrumb__element a:visited{
    color: var(--black);
    text-decoration: none;
}
/* FIN HEADER*/

/*BASICS*/
h1{
    font-size: var(--typeHeaderSize);
    font-weight: var(--typeHeaderWeight);
}
h3{
    font-size: var(--typeSubheaderSize);
    font-weight: var(--typeSubheaderWeight);
}
p, label, option, input, select{
    font-size: var(--typeBaseSize);
    font-weight: var(--typeBaseWeight);
}
.p__destacar p{
    font-size: 18px;
    font-weight: 800;
}
.btn{
    background-color: var(--main-color);
    color: hsl(0, 0%, 96%);
    padding: 15px 40px;
    font-weight: 400;
    font-size: 20px;
    border-radius: 5px;
    border-color:var(--main-color);
    text-decoration: none;
}
.btnBuscar{
    background-color: var(--main-color);
    color: hsl(0, 0%, 96%);
    padding: 4px 10px;
    font-weight: 200;
    font-size: 14px;
    border-radius: 5px;
    border-color:var(--main-color);
    text-decoration: none;
}
.center{
    text-align: center;
    margin: 0 auto;
}

/*FIN BASICS*/

/*BODY*/
.container{
    margin-top: 150px;
    margin-bottom: 30px;
}
.contenedor__titulos{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
/*FIN BODY*/

/*CALCULADORA - INICIO - PRODUCTOS*/
.inicioCalculadora{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.inicioCalculadora a{
    text-decoration: none;
}
.inicioCalculadora a:visited{
    text-decoration: none;
    color: var(--black);
}
.inicioCalculadora__producto{
    padding: 5px;
    margin: 30px 10px;
}
.inicioCalculadora__producto__pie{
    padding: 5px;
    width: 240px;
    text-align: left;
}
.inicioCalculadora__producto_pie p{
    color: var(--black);
    text-align: left;
    width: 230px;
}
#tote-bag-sencilla{ 
    height: 230px;
    width: 230px;
    background-image: url(../img/tote-bag-sencilla.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#tote-bag-bolsillo{ 
    height: 230px;
    width: 230px;
    background-image: url(../img/tote-bag-bolsillo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#tote-bag-bolsillo-cremallera{ 
    height: 230px;
    width: 230px;
    background-image: url(../img/tote-bag-cremallera.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#ajustable-clasica{ 
    height: 230px;
    width: 230px;
    background-image: url(../img/Ajustable.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#tula{ 
    height: 230px;
    width: 230px;
    background-image: url(../img/tula.jpeg);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}
#tote-bag-cierre-completo{ 
    height: 230px;
    width: 230px;
    background-image: url(../img/bolsa-cierre-completo.jpeg);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}
#ajustable-bolero{ 
    height: 230px;
    width: 230px;
    background-image: url(../img/bolsa-ajustable-bolero.jpeg);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}
#video-container{
    height: 230px;
    width: 100%;
    overflow: hidden;
}
#video-container video{
    width: 240px;
}

/*FIN CALCULADORA - INICIO - PRODUCTOS*/

/*CALCULADORA POR CADA PRODUCTO*/
.contenedor__calculando___img img{
    height: 230px;
    width: 230px;
}
.contenedor__calculando{
    margin-top: 40px;
}
.contenedor__calculando__form{
    padding: 15px 0px;
}
.contenedor__calculando__form div{
    display: flex;
    
    margin: 15px 0px;
}
.contenedor__calculando__form div > input, select{
    width: 100%;
}
.contenedor__calculando__form div > span{
    width: 60px;
    text-align: right;
}
.contenedor__calculando__form div > label{
    padding-right: 20px;
}
.contenedor__calculando__form__inline{
    display: inline;
    width: 100%;
}
/*FIN CALCULADORA POR CADA PRODUCTO*/

/*TABLA COMPRAS*/
.compras__tabla{
    width: 100%;
    border: 1px solid rgb(174, 173, 173);
    border-collapse: collapse;
}
.compras__tabla__lista{
    padding: 10px;
    vertical-align: center;
}
.compras__tabla__lista li{
    list-style: none;
    padding: 10px;
}
/*FIN TABLA COMPRAS*/

/*DISPLAY*/
.hide{
    display: none;
}